<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.mark.demo.lockscreenmsgdemo">

    <!-- 解锁屏幕需要的权限 -->
    <uses-permission android:name="android.permission.DISABLE_KEYGUARD" />
    <!-- 申请电源锁需要的权限 -->
    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MarkActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".ui.MessageActivity"
            android:excludeFromRecents="true"
            android:launchMode="singleInstance"
            android:taskAffinity=""/>
        <activity android:name=".ui.DetailsActivity"/>

        <receiver android:name=".service.LockScreenMsgReceiver"
            android:exported="true"
            android:enabled="true">
            <intent-filter>
                <!-- 监听锁屏消息 -->
                <action
                    android:name="com.mark.demo.lockscreenmsgdemo.service.LockScreenMsgReceiver"/>
            </intent-filter>
        </receiver>
        <service android:name=".service.MyService"
            android:enabled="true"
            android:exported="true"/>

    </application>

</manifest>